<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjts.buscenter.web.dao.DriverLicenseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zjts.buscenter.web.model.DriverLicense">
		<id column="id" property="id" />
		<result column="employee_id" property="employeeId" />
		<result column="license_expirydate" property="licenseExpirydate" />
		<result column="license_age" property="licenseAge" />
		<result column="license_type" property="licenseType" />
		<result column="remarks" property="remarks" />
		<result column="license_id" property="licenseId" />
		<result column="modified_time" property="modifiedTime" />
		<result column="license_point" property="licensePoint" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, employee_id AS employeeId, license_expirydate AS licenseExpirydate, license_age AS licenseAge, license_type AS licenseType, remarks, license_id AS licenseId, modified_time AS modifiedTime, license_point AS licensePoint
    </sql>

</mapper>
