<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjts.buscenter.web.dao.RouteInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zjts.buscenter.web.model.RouteInfo">
		<id column="id" property="id" />
		<result column="city" property="city" />
		<result column="data_source_id" property="dataSourceId" />
		<result column="route_name" property="routeName" />
		<result column="route_versions" property="routeVersions" />
		<result column="route_id" property="routeId" />
		<result column="upstart_time" property="upstartTime" />
		<result column="downstart_time" property="downstartTime" />
		<result column="uplast_time" property="uplastTime" />
		<result column="downlast_time" property="downlastTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, city, data_source_id AS dataSourceId, route_name AS routeName, route_versions AS routeVersions, route_id AS routeId, upstart_time AS upstartTime, downstart_time AS downstartTime, uplast_time AS uplastTime, downlast_time AS downlastTime
    </sql>

<!--	<select id="findStationIndex"  resultType="com.zjts.buscenter.web.model.StationIndex" >
		SELECT station_index.* from station_index INNER JOIN route_info where route_info.route_name ='${routeName}路' GROUP BY(id)
	</select>-->



	<!--查询车辆最新数据 -->
	<select id="findBusByRouteID" resultType="com.zjts.buscenter.web.model.GpsInfo">
		select vehicle_number,up_down,station_id,station_state, max(date_time) from gps_info where created_time >${nowTime} and  run_method = ${runMethod} GROUP BY vehicle_number;
	</select>

	<!--微信 ： 根据站点(汉字)查询-->
	<select id="findRouteByStationName" resultType="com.zjts.buscenter.web.model.StationInfo">
		SELECT station_info.route_name,station_info.station_name,station_info.route_index,station_info.station_flag FROM station_info INNER JOIN route_info
		<where>
			station_name LIKE '%${stationName}%'  GROUP BY(station_info.id)
		</where>
	</select>
	<!--微信 ： 根据线路(数字)名查询-->
	<select id="findRouteByRouteName" resultType="com.zjts.buscenter.web.model.StationInfo">
		SELECT route_name,station_name,route_index FROM station_info
		<where>
			route_name = '${routeName}路' GROUP BY id
		</where>
	</select>
</mapper>
